<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{cssPath}}">
</head>
<body>
    <header>
{{headerContent}}
        <br>
        <a href="{{homeHref}}" class="about-me-link">Home</a>
        &nbsp; &nbsp;
        <a href="{{likesHref}}" class="about-me-link">Likes</a>
        &nbsp; &nbsp;
        <a href="{{aboutHref}}" class="about-me-link">About Me</a>
    </header>
    <main>
{{mainContent}}
    </main>
</body>
</html>
